.nama{
	font-size : 4em;
	color: orange;
	text-align: center;
}

.T3{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: red;
	text-align: center;
}

.img1{
	width : 101%;
	height: auto;
	/*margin-right: 30px;*/
}

.sd{
	width: 400px;
	margin-right: 40px;
}

.hg{
	width: 400px;
}

.mg{
	width: 400px;
	margin-left: 10px; 
}

.AG{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: green;
	text-align: center;
}

.p2{
	line-height: -10px;
}

/*.img2{*/
	width : 400px;
	height: 500px;
	margin-left: 20px;
}

/*.img3{*/
	width : 400px;
	height: 500px;
	margin-left: 40px;
}

.par1{
	text-align: center;
	font-family: 'Macondo', cursive;
	font-size: 1em;
	/*padding-right: 10px; */
	color: black;
	line-height: 20px;
}

.par2{
	text-align: right;
	font-family: 'Spirax', cursive;
	font-size: 5em;
	letter-spacing: 10px;
	padding: 
}

.par3{
	text-align: left;
	font-family: 'Revalia', cursive;
	font-size: 3em;
	letter-spacing: 5px;
}


h2{
	font-size: 3em;
	color: green;
}

.t2{
	font-size: 3em;
	text-align: center;
	color: pink;
	line-height: 10px;
}

h4{
	text-align: left;
	color: blue;
}

.bordered{
	border-color: black;
	border-width: 5px;
	border-style: dotted;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 40px;
	padding-left: 40px;
	background-color: white;
	text-align: center;
	margin-left: 30px;
	margin-right: 30px;
}

.bg{
	background-color: cyan;
}